@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  /* Self Style */
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

.container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.box {
  .icon {
    @media (max-width: 375px) {
      width: 100%;
    }
    width: 300px;
    color: white;
  }
  @mixin icon-background($color: white) {
    background: $color;
    height: 300px;
    width: 300px;
    border-radius: 50%;

    display: flex;
    align-items: center;
  }

  &-user {
    @include icon-background(paleturquoise);
  }

  &-brain {
    @include icon-background(peachpuff);
  }

  &-pencil {
    @include icon-background(mediumaquamarine);
  }
}
