@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  /* Self Style */
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
}

.container {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

h1 {
  font-weight: normal;
}

.box {
  .icon {
    @media (max-width: 375px) {
      width: 100%;
    }
    width: 150px;
    color: white;
  }
  @mixin icon-background($color: white) {
    background: $color;
    height: 150px;
    width: 150px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    margin: auto;
  }

  &-user {
    @include icon-background(paleturquoise);
  }

  &-brain {
    @include icon-background(peachpuff);
  }

  &-pencil {
    @include icon-background(mediumaquamarine);
  }
}

.fade {
  animation: fadeIn 2s ease 0.1s 1 normal forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
